venv
.idea
consumer/models
model.tar.gz

**/__pycache__
**/node_modules
db/data
**/yarn-error.log

static/**/*.jpeg

**/.pnp
**/.pnp.js

# testing
**/coverage

# production
**/build
**/dist

# misc
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
.env
deploy-key
bow-legs.pem